img.background {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: -1;
}

p {
    color: white;
}

ul {
    list-style-type: none;
    margin: 8px;
    padding: 0;
}

li {
    float: left;
    width: 25%;
}

.external:hover {
background-color: tan;
background-size: 115px 115px;
}

a {
    color: beige;
}


 a.internal2, a:visited {
    display: inline-block;
    font-weight: bold;
    color: beige;
    width: 100px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

   a.internal, a:visited {
    display: inline-block;
    font-weight: bold;
    color: beige;
    width: 243px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a.internal:hover, a:active, a.current {
    display: inline-block;
    font-weight: bold;
    color: brown;
    background-color: tan; 
    width: 243px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}               


h1 {
    color: beige;
}