body {
    background: url("background.jpg");
        background-size: 100% 500%;
    background-repeat: no-repeat;
}

img.pic{
    float: right;
}

p {
    color: beige;
}

ul {
    list-style-type: none;
    margin: 8px;
    padding: 0;
}

li {
    float: left;
    width: 25%;
}

.external:hover {
background-color: tan;
background-size: 115px 115px;
}

a {
    color: beige;
}


 a.internal2, a:visited {
    display: inline-block;
    font-weight: bold;
    color: beige;
    width: 100px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

   a.internal, a:visited {
    display: inline-block;
    font-weight: bold;
    color: beige;
    width: 100%;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a.internal:hover, a.internal:active, a.current {
    display: inline-block;
    font-weight: bold;
    color: brown;
    background-color: tan; 
    width: 100%;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}               


h1 {
    color: beige;
}