

h1 {
	background-color:brown;
	color: tan;
	text-align:center;
	}

h2 {
	background-color:brown;
    color:tan;
    text-align:left;
}	

body{
	background-image: url("background.jpg");
}

ul {
    list-style-type: none;
    margin: 8px;
    padding: 0;
}

li {
	float: left;
	width: 25%;
}

.external {
	display: inline-block;
    color: none;
    text-align: center;
}

a:link, a:visited {
    display: inline-block;
    font-weight: bold;
    color: tan;
    background-color: brown;
    width: 243px;
    text-align: center;
    padding: 4px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    background-color: tan;
}				

p, p1 {
	color: tan;
}
	

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: brown;

}
	